* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Balsamiq Sans";
}

body {
    background-color: #e4f9f5;

}

/* max-width */
.addItems,
.incomeExpensive {
    max-width: 1200px;
    margin: auto;
}

/* classes that will be added with js */
.positive {
    color: #30e3ca;
}

.negative {
    color: red;
}

.neutral {
    color: gray;
}

/****************** header  *************************/
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.01)),
        url(./images/grow-money.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
}

.headerContent {
    height: 19rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#total-budget-header,
#budget-left-header {
    color: white;
}

#total-budget-header {
    font-size: 20px;
}

#budget-left-header {
    font-size: 14px;
}

.dollar-sign {
    font-size: 17px;
    color: #11999e;
}

/* current date */
#currentDate {
    color: rgb(168, 214, 245);
}

/* budget */
#budget {
    color: #e4f9f5;
}

#budget,
#budgetLeft {
    font-size: 35px;
}

/* Total Income and Expense boxes */
#totalIncome,
#totalExpenses {
    font-size: 15px;
    border-radius: 12px;
}

#totalIncome {
    padding: 12px 2rem;
    background-color: #30e3ca;
    color: white;
}

#totalExpenses {
    margin: 9px 0px;
    padding: 12px 1.46rem;
    background-color: #ff7e67;
    color: white;
}

/******************FORM to add items  ********************************/
.addItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

#AddRemove,
.addDescription,
.addValue,
#submitBTN {
    padding: 9px 20px;
    margin: 5px 0px;

    outline: none;
}

#AddRemove,
.addValue,
.addDescription {
    border: 1px solid #11999e
}

#AddRemove,
.addValue {
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

#submitBTN,
.addDescription {
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;

}

#submitBTN {
    background-color: #ff7e67;
    border: none;
    cursor: pointer;
    background: linear-gradient(to right, #ff7e67 50%, #11999e 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: white;
    transition: all 2s ease;
}

#submitBTN:hover {
    transform: scale(1.2);
    background-position: left bottom;
}

/* ************** Income and expenses *************/

.incomeExpensive {
    display: flex;
    flex-direction: column;
}

.incomeItems,
.expensiveItems {
    list-style-type: none;
    font-size: 20px;
    width: 90%;
    margin: auto;
    color: #40514e;
}



.income #item {
    border-radius: 12px;
    border-left: 5px solid #30e3ca;
    border-bottom: 1px solid #30e3ca;
}

.expenses #item {
    border-radius: 5px;
    border-left: 5px solid #ff7e67;
    border-bottom: 1px solid #ff7e67;
}

.expenses label,
.income label {

    margin-left: 35%;

    font-size: 25px;
}

/* ******Income and Expenses section */

.income label {
    color: #11999e;

}

/* Expenses items container */


.expenses label {
    color: #ff7e67;

}

/* both Income and Expenses items Conainer */

#item:nth-child(odd) {}

#item:nth-child(even) {
    background-color: #E4F3F9;

}

.expensiveItems #costItem {
    color: red;
}

/* font awesome:trash and position of the price of the item */
#item {
    padding: 7px 0px;
    transition: transform 1s ease-out;
    position: relative;
}

#item:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgba(126, 126, 126, 0.144);
}

/* Icon  of trash can position styles */
.income .far,
.expenses .far {
    position: absolute;
    right: 1rem;
    color: #40514e;
}

.far:hover {
    color: red;
}

/* cost of item */
.expenses #costItem,
.income #costItem {
    position: absolute;
    right: 3rem;
    color: #11999e;
}

@media(min-width: 500px) {

    /****************** header  *************************/
    .header {
        background-size: cover;
        background-position: 10% 70%;
    }

    .headerContent {
        height: 25rem;
    }

    #total-budget-header {
        font-size: 27px;
    }

    #budget-left-header {
        font-size: 20px;
    }

    .dollar-sign {
        font-size: 17px;
        color: #11999e;
    }

    /* budget */
    #budget {
        color: #e4f9f5;
    }

    #budget,
    #budgetLeft {
        font-size: 40px;
    }

    /* Total Income and Expense boxes */
    #totalIncome,
    #totalExpenses {
        font-size: 20px;
    }

    /******************div to add items  ********************************/
    #AddRemove,
    .addDescription,
    .addValue,
    #submitBTN {
        padding: 9px 30px;

    }

    #submitBTN {
        padding: 12px 75px;
    }

}

@media(min-width: 768px) {


    /****************** header  *************************/
    .header {

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .headerContent {
        height: 25rem;
    }

    #total-budget-header {
        font-size: 35px;
        font-weight: 100;
    }

    #budget-left-header {
        font-size: 22px;
    }

    .dollar-sign {
        font-size: 20px;

    }

    /* budget */

    #budget,
    #budgetLeft {
        font-size: 40px;
    }

    /* Total Income and Expense boxes */
    #totalIncome,
    #totalExpenses {
        padding: 10px 75px;
    }

    /************** form ***************/
    .addItems {
        padding: 0px;
        flex-direction: row;
        width: 100%;
        margin: 17px auto;
        justify-content: center;
    }

    .addDescription,
    .addValue,
    #submitBTN {
        margin-left: 12px;
    }

    /* Income items container*/
    .incomeExpensive {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .income,
    .expenses {
        width: 100%;
        margin: auto;
    }

    .incomeItems,
    .expensiveItems {
        margin: 0px 7px;
    }

    .incomeItems,
    .expensiveItems {
        font-size: 22px;
        width: 95%;
    }

    .expenses label,
    .income label {

        left: 3rem;
        font-size: 30px;

    }

    /* font awesome:trash and position of the price of the item */
    #item {
        position: relative;
    }

    .income .far,
    .expenses .far {
        position: absolute;
        right: 1rem;

    }

    .expenses #costItem,
    .income #costItem {

        position: absolute;
        right: 3rem;

    }

    @media(min-width: 900px) {
        .incomeExpensive {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: start;

        }

        .incomeItems,
        .expensiveItems {
            margin: 0px 7px;
        }
    }